.App {
  text-align: center;
}

.App-header {
  padding: 50px;
  background-color: #282c34;
  min-height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dd-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  width: 1200px;
}

.dd-header {
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 400px;
} 

.dd-list-item {
  display: flex;
  flex: 1 0 21%; 
  margin: 5px;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
}

.dd-rate-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
}

.generate-button {
  margin: 50px;
  width: 400px;
  height: 50px;
}

.answer-button {
  flex: 1 0 21%;
  margin: 5px;
  width: 500px;
  height: 150px;
  text-align: left;
  padding: 50px;
}

